a {
    text-decoration: none;
}

.text-block-2 {
    margin-top: 10px;
}

h1 {
    width: 800px;
    margin: auto 0;
}

.name-label, .info-txt {
    color: #b99e56;
}

#theList {
    text-align: center;
    color: #b99e56;
    font-size: 24px;
    line-height: 1.35em;
}

#theList li {
    cursor: pointer;
    list-style-type: none;
}

#theList li:hover {
    color: #b30303;
}

input[type=text] {
    background-color: transparent;
}

input[type=number] {
    width: 2em;
    appearance: textfield;
    -moz-appearance: textfield;
    border-radius: 50%;
    border-width: 0px;
    background-color: transparent;
    color: #b99e56;
}

#fighter-start-exp-value, #fighter-end-level-value {
    width: 5em;
    border: 1px solid #b99e56;
    border-radius: 0%;
    margin-bottom: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number]::-webkit-file-upload-button {
    appearance: none;
    -webkit-appearance: none;
    opacity: 0;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    max-width: 100%;
    background-color: #D0D0D0;
    bottom: 0px;    
    margin-bottom: 25px;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    margin-top: 5px;
    background: linear-gradient(#B95656,#B95656) 0/var(--sx) 100% no-repeat, #efefef;
    /* background-color: #D0D0D0; */
    border-radius: 20px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    margin-top: -5px;
    background: #B95656;
    cursor: pointer;
    border-radius: 20px;
    border-color: #b99e56;
    margin-top: -7px;
}


input[type=range]::-moz-range-track {
    height: 20px;
    padding: 0px;
    margin: 0px;
    background-color: #D0D0D0;
    border-radius: 50px;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: #B95656;
    border-radius: 50%;
    border-width: 1.5px; 
    border-color: #b99e56;
}

input[type=range]::-moz-range-progress {
    background-color: #B95656;
    height: 20px;
    min-width: 40px;
    border-radius: 20px 5px 5px 20px;

}